html{
  height: 100%;
  width: 100%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FFe21e;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-shadow: 2px 2px 8px #FFe21e;
}

.sidenav a {
  padding: 8px 8px 20px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #02066F;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 0px;
  font-size: 36px;
  margin-left: 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

span{
  color: #FFe21e;
}

body{
  margin: 50px 20px 50px 20px;
  background-color: #02066F;
}

.taehslogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 50%;
  height: 150px;
  width: 150px;
  background-color: white;
}

h1{
  text-align: center;
  color: white;
  text-shadow: 2px 2px 8px #FFD700;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
}

marquee{
  font-size: 22px;
  color: #FFe21e;
  text-shadow: 2px 2px 8px #FFD700;
  margin-bottom: 30px;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.edisonfrontdoor{
  width: 45%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.clubslink {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.clubdropdownmenu {
  position: relative;
  display: inline-block;
}

.dropdowncontent {
  display: none;
  position: absolute;
  background-color: #FFe21e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdowncontent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdowncontent a:hover {background-color: #ddd;}

.clubdropdownmenu:hover .dropdowncontent {display: block;}

.clubdropdownmenu:hover .clubslink {background-color: #FFe21e;}